<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.abhi41.jetpackcodingwithcat">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetpackCodingWithCat"
        tools:targetApi="31">
        <activity
            android:name=".examples.multiple_launguages.ItemActivity"
            android:theme="@style/Theme.AppCompat"
            android:exported="false" />
        <activity
            android:name=".examples.multiple_launguages.MultiLanguage"
            android:theme="@style/Theme.AppCompat"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".examples.broad_cast_receiver.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.REBOOT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".examples.observe_gps_status.ObserveGpsStatus"
            android:exported="false" />
        <activity
            android:name=".examples.coroutine.flows.FlowActivity"
            android:exported="true"
            android:label="@string/title_activity_flow"
            android:theme="@style/Theme.JetpackCodingWithCat" />

        <receiver android:name=".receiver.MyNotificationReceiver" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.JetpackCodingWithCat">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <receiver
            android:name=".examples.alarmManager.AlarmReceiver"
            android:exported="true" />

        <service
            android:name=".examples.Services.MyBackgroundService"
            android:exported="true" />
        <service
            android:name=".examples.Services.MyForegroundService"
            android:enabled="true"
            android:exported="true" /> <!-- this was necessary for location foregroundServiceType -->
        <service
            android:name=".examples.TracklocationBackground.LocationService"
            android:foregroundServiceType="location" />

        <receiver
            android:name=".receiver.RebootBroadCastService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.NotificationReplyReceiver"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />
    </application>

</manifest>